<!-- wp:group {"className":"alignfull ticss-47926f2b has-contrast-color has-text-color has-link-color"} -->
<div class="wp-block-group alignfull ticss-47926f2b has-contrast-color has-text-color has-link-color"><!-- wp:template-part {"slug":"common-header","area":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main id="main" class="wp-block-group"><!-- wp:contact-form-7/contact-form-selector {"id":134,"hash":"75460cc","title":"Contact form 1"} -->
<div class="wp-block-contact-form-7-contact-form-selector">[contact-form-7 id="75460cc" title="Contact form 1"]</div>
<!-- /wp:contact-form-7/contact-form-selector --></main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:html -->
<link href='https://actionnetwork.org/css/style-embed-whitelabel-v3.css' rel='stylesheet' type='text/css' /><script src='https://actionnetwork.org/widgets/v5/form/ilmdsa-weekly-roundup-newsletter-subscription?format=js&source=widget'></script><div id='can-form-area-ilmdsa-weekly-roundup-newsletter-subscription' style='width: '><!-- this div is the target for our HTML insertion --></div>
<!-- /wp:html --></div>
<!-- /wp:group -->